body {
    background-color: #3A2E39;
    font-family: impact, fantasy;
}

h1 {
    color: #912F40;
    font-size: 50px;
    margin: 10px;
    padding: 0;
    text-align: center;
    text-decoration: underline #DBD4D3;
}

h2 {
    color: #912F40;
    font-size: 40px;
    margin: 10px;
    padding: 0;
    text-align: center;
}

h3 {
    color: #912F40;
    font-size: 30px;
    margin: 10px;
    padding: 0;
    text-align: center;
}
p {
    color: #DBD4D3;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.game-title {
    color: #912F40;
    font-size: 70px;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: underline #DBD4D3;
}

.game-title-divider {
    background-color: #DBD4D3; 
    height: 5px;
}

.select-save-section, .save-file-section, .bottom-section, .buy-sell-stocks, .add-stocks, .subtract-stocks, .buy-sell-max, .clear-stocks {
    text-align: center;
}

.top-nav-bar {
    background-color: #344966;
    border: 5px solid #DBD4D3;
    margin: 10px;
    text-align: center;
}

.top-section {
    border: 5px solid #DBD4D3;
    margin: 10px;
    padding: 0;
    text-align: center;
}

.triple-section {
    display: flex;
}

.triple-section-col {
    flex: 33.33%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 5px solid #DBD4D3;
}
.date, .age {
    display: inline-block;
    padding: 0 20px;
}

.stock-table, .market-stock-table, .portfolio-stock-table, .bank-table {
    margin: 0 auto;
    text-align: center;
}

.button1 {
    color: #344966;
    font-size: 50px;
    text-decoration: none;
}

.button2 {
    color: #344966;
    font-size: 35px;
    text-decoration: none;
}

.button3 {
    color: #344966;
    font-size: 30px;
    text-decoration: none;
}

.button1:hover, .button2:hover, .button3:hover {
    color: #18283f;
    cursor: pointer;
}

.top-nav-btn {
    color: #DBD4D3;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding: 15px 15px;
}

.top-nav-btn:hover {
    color: #999595;
    cursor: pointer;
}

.sim-btn {
    text-align: center;
    color: #DBD4D3;
    background-color: #344966;
    border: 3px solid #912F40;
    border-radius: 5px;
    font-size: 25px;
    font-family: impact, fantasy;
    margin: 0;
    padding: 3px;
}

.sim-btn:hover {
    color: #999595;
    background-color: #18283f;
    text-align: center;
    cursor: pointer;
}

.buy-sell-btn {
    font-size: 30px;
    font-family: impact, fantasy;
    border: 3px solid #DBD4D3;
}

.stock-amount {
    font-size: 50px;
}

.add-stock-btn, .subtract-stock-btn, .clear-btn {
    background-color: #DBD4D3;
    font-size: 20px;
    margin: 3px;
    padding: 5px;
}

.buy {
    background-color: green;
}

.buy:hover {
    background-color: darkgreen;
}

.sell {
    background-color: red;
}

.sell:hover {
    background-color: darkred;
}

.add-stock-btn:hover, .subtract-stock-btn:hover, .clear-btn:hover {
    background-color: #999595;
}